<h4 class="pb-2">{{ 'Event Details'|t }}</h4>
{% if date %}
  <div class="mb-3">
    <i class="bi bi-calendar-date"></i> {{ date }}
  </div>
{% endif %}
{% if time %}
  <div class="mb-3">
    <i class="bi bi-clock"></i> {{ time }}
  </div>
{% endif %}
{% if location %}
  <div class="mb-3">
    <i class="bi bi-geo-alt-fill"></i> {{ location }}
  </div>
{% endif %}
{% if link %}
  <div class="pt-2">
    <a href="{{ link }}" class="btn btn-primary">{{ 'Event Details'|t }} <i class="bi bi-arrow-right"></i></a>
  </div>
{% endif %}
