{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'mt-3',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% if content %}
      <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
        {{ content }}
      </nav>
    {% endif %}
  {% endblock %}
</div>
